body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #242424;
}

/* Header */
.header {
  display: flex;
  justify-content: left;

  .header__text {
    font-size: 2.5rem;
    color: aliceblue;
  }

  .header__img {
    height: 4em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }

  .header__img:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
}

/* Game */
.game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .game__container__word {
    color: white;
    font-size: 2em;
  }

  .game__container__input {
    min-width: 200px;
    min-height: 30px;
  }
}



/* Keyframes */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .header__img {
    animation: logo-spin infinite 20s linear;
  }
}